@import url(//fonts.googleapis.com/css?family=Baloo+Chettan+2:500,600,700,800);
@import url(//fonts.googleapis.com/css?family=Rubik:400,500,600,700);
@import url(//fonts.googleapis.com/css?family=K2D:400,500,600,700,800,900);


:root {
    font-size: 4vw !important;
    -webkit-tap-highlight-color: transparent;
    --game-left: 0;
    --game-right: 0;
    --game-top: 0;
    --game-bottom: 0;

    
  --loader-start-position: -9999em; /* Actual dot is technically off-screen */
  --loader-distance-between: -0.5em;

    

    --wrongglow: 0px 0px 24.192px rgb(247, 107, 26), 
    0px 0px 13.824px rgb(247, 107, 26), 
    0px 0px 8.064px rgb(247, 107, 26), 
    0px 0px 4.032px rgb(247, 107, 26), 
    0px 0px 1.152px rgb(247, 107, 26), 
    0px 0px 0.576px rgb(247, 107, 26);

    --rightglow: 0px 0px 24.192px #04D000, 
    0px 0px 13.824px #04D000, 
    0px 0px 8.064px #04D000, 
    0px 0px 4.032px #04D000, 
    0px 0px 1.152px #04D000, 
    0px 0px 0.576px #04D000;

    --stroke-width: 2px;
    --finishedColor: gold;
    --correct-color: hwb(85 10% 10%);
    /*--correct-color-darker: seagreen;*/
    --correct-color-darker: hsl(85, 50%, 30%); 
    --correct-color-lighter: hwb(85 40% 10%);
    --wrong-color: hwb(40 10% 0%);
    --wrong-color-darker: hsl(40, 50%, 30%);
    --wrong-color-lighter: hwb(40 40% 10%);
    --almost-black: hsl(210, 8%, 14%);
    --lighter-border: hwb(0 67% 33%);
    --almost-white: #F6F6F6;
    --dark-white: #F0F0F0;
    --stroke-color: var(--almost-black);
    --letterSquare-border-width: min(3px, 0.5vw);
    --letterInput-border-width: min(4px, 0.75vw);
    --letterInput-border-radius: min(42px, 3.5vw);
    --same-letter-color-hwb: rgb(26, 97, 230);
    --same-letter-color: 26, 97, 230;
    --bright-blue: rgb(29, 207, 219);
    --light-bright-blue: rgba(29, 207, 219, 0.6);

    /* New Colour Scheme */
    --background-blue: #F0F8FB;
    --text-backdrop-grayblue: #D3DFE3;
    --accent-blue: #53D4FB;
    --accent-shadow: #279BBE;
    --accent-text-colour: #124F60;
    --dark-blue-text-colour: rgb(34, 48, 53);
    --gray-tile: #DCDCDC;
    --gray-tile-shadow: #999999;
    --gray-text-colour: #828282;
    --sandstone-tile: #FEEFD3;
    --sandstone-shadow: #E1B666;
    --neutral-sand-colour: #E6D8BC;
    --neutral-shadow: #AE9361;
    --neutral-text-colour: #413D36;
    --neutral-dark-text-colour: #272521;
    --LOGO-text-colour: #555046;
    --wrong-text-colour: #E4750D;
    --wrong-dark-text-colour: #442e1a;
    --warning-button-shadow: #61350d;
    --wrong-letter-accent: #D27217;
    --sand-right-letter-highlight: #FCF7C6;
    --gray-right-letter-highlight: #F6F6F3;
    --right-letter-gradient-start: #237621;
    --right-letter-gradient-end: #0FC90C;

}


html {
  font-family: 'Rubik';
  color: var(--dark-blue-text-colour);
}
body {
  display: flex;
  background-color: var(--background-blue);
  margin: 0;
}
input { /* Override default which is smaller */
    font-size: 1rem;
}

button {
  appearance: none;
  -webkit-appearance: none;
}

#scrambler_title {
    display: flex;
    font-weight: 600;
}

#scrambler_title span {
    display: flex;
    align-self: center;
}

.notification {
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.3rem;
  background: var(--accent-shadow);
  top: 5%;
  right: 5%;
  box-shadow: 0 0 0.05rem 0.05rem var(--accent-text-colour);

  opacity:0;
  transition: 0.4s all ease-in;
}
.nav-item .notification {
  top: 35%;
}
.notification.unseen {
  opacity: 100%;
}
#version_update_button {
  display: flex;
  position: absolute;

  justify-content: center;
  align-items: center;
  align-self: flex-start;
  color: var(--LOGO-text-colour);
  text-shadow: 0 0.04rem 0.03rem var(--accent-blue), 0 0.08rem 0.05rem var(--accent-shadow);
  transform: rotate(-45deg);
  
  transform-origin: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 3rem;
  width: 3rem;
  line-height: 0.7rem;
  font-size: 0.85em;
  font-weight: 800;

  cursor: pointer;


}
#version_update_button.seen {
  text-shadow: 0 0.04em 0 var(--neutral-shadow);
}
#backgroundagain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-blue);
  transform-origin: center;
  height: 4.6rem;
  width: 4.6rem;
  border-radius: 0.1rem;
}

#scrambler_title {
  font-family: 'K2D';
  
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  transition: all 1s ease-in;
  padding: 0;
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
  height: 5rem;
  width: 5rem;
  transform-origin: center;
  transform: rotate(45deg);
  background: linear-gradient(to bottom right, var(--right-letter-gradient-start), var(--right-letter-gradient-end));
  border-radius: 0.25rem;
}

#version_update_text {
  text-align: left;
}

#deleteModal {
  z-index: 30;
}

.fullscreen-modal {
  color: var(--dark-blue-text-colour);
    font-size: 0.85rem;
    line-height: 1rem;
    position: fixed; 
    display: block;
    top: 0; /* Default is closed */
  left: var(--game-left);
  right: var(--game-right);
  bottom: 0;
  overflow: auto;
  z-index: 15;
  padding: 1rem; 
  background-color: var(--background-blue);
  

  visibility: collapse;
  transform: translateY(100vh);
  transition: all 1.4s ease-in-out;
}
.fullscreen-modal.sidenav {
  right: auto;
  width: 18rem;
  transform: translateX(calc(-18rem - 2rem)); /* Padding */
  background: var(--text-backdrop-grayblue);
  font-size: 0.6rem;
  font-weight: 600;
}
.fullscreen-modal.sidenav.opened {
  transform: translateX(0%);
  visibility: visible;
  box-shadow: 1.5em 3em 1em 0 rgba(0, 0, 0, 0.6);
}

.fullscreen-modal-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.sidenav.vertical-flex-cont .nav-item {
  position: relative;
  font-size: 1.6em;
  
  padding: 1.3rem;
  margin-left: -1rem;
  margin-right: -1rem;
  cursor: pointer;
}

.sidenav.fullscreen-modal .header {
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.2rem;
}


.sidenav.vertical-flex-cont div:active {
  background: var(--accent-shadow);
  
}

.sidenav.vertical-flex-cont {
  flex-grow: 1;
}

.nav-item.disabled {
  background: rgba(0, 0, 0, 0.15);
  cursor: auto !important;
}

.copyright {
  display: flex;
  position: relative;
  bottom: 0;

}
 
.fullscreen-modal.opened {
    top: 0;
    transform: translateY(0%);
    visibility: visible;
}


#containall { /* on Phones */
  display: flex;
  width: 100%;
  padding-bottom: 100vh;
  margin-left: auto;
  margin-right: auto;
}

#gametype_holder {
  position: relative;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-bottom: solid var(--accent-shadow) 0.15rem;
}

#gameBox {
    /* border: 0.2em solid var(--almost-black);
  border-radius: 1em; 
  overflow: hidden;*/
  transition: margin 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  align-self: stretch;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 1000px; /* Height of both guess and refresh last guess buttons, which are positioned absolute*/
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-family: Rubik;
  border-width: 0.2em;
  border-radius: 0.5em;
  justify-content: center;
  outline: 0;
  cursor: pointer;
  display: block;
  text-align: center;

  line-height: 1em;
  padding: 0.5em 1em;
  color: var(--almost-black) !important;
  background-color: var(--almost-white);
  border-color: var(--almost-black);

}

#reward_total_points {
  font-size: 1.1em;
}

.large-button {
  width: 8rem;
  padding: 0.4em 0.6em !important;
  border:none;
  border-bottom: 0.2em solid var(--accent-shadow);
  color: var(--accent-text-colour) !important;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem;
}

#delete_profile, #yes_delete {
  background: var(--wrong-text-colour);
  color: var(--wrong-dark-text-colour) !important;
  border-bottom-color: var(--warning-button-shadow);
}

button span {
  pointer-events: none;
  display: block;
}

input, .input_button {
  font-size: 1rem;
  margin-top: 0.5em;
}

input[type="text"], input[type="password"] {
  margin-left: 0;
  margin-right: 0;
}

input[type="submit"], .input_button {
   display: flex;
   justify-content: center;
   line-height: normal !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--almost-white);
  border: 0.05em solid var(--almost-black);
  color: var(--almost-black);
  font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.4em;
    /* width: 5.4rem; */
    text-wrap: wrap !important;
    white-space: normal;
    align-self: stretch;
    text-align: center;
    align-items: center;

    font-size: 1.4em !important;
    padding: 0.4em 0.6em !important;
    cursor: pointer;
}
#guest_button, #close_forgot_button, #close_reset_password_button, #close_create_button {
  margin-top: 0;
}

.buttontext {
  display: flex;
  line-height: 1em;
  pointer-events: none;
  height: 1em;
  align-items: center;
}

.right_text {
  align-self: flex-end;
}
.left_text {
  align-self: flex-start;
}
.link {
  color: blue;
  cursor: pointer;
}
.link:active {
  color: purple;
}
.light-blue {
  background: var(--light-bright-blue) !important;
}
.green {
  background: var(--correct-color) !important;
}
.thick {
  border-width: 4px;
}
#open_login_button {
  position: absolute;
  right: 3rem;
  top: 5rem;

  height: 1.6rem;
  width: 3.8rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.2rem 0.4rem;
  border: none;
  border-bottom: 0.06rem solid var(--accent-shadow);
  background-color: var(--accent-blue);
  color: var(--accent-text-colour) !important;
}
.material-icons-round {
  display: flex;
  align-content: center;
    font-size: 1.5rem !important;
    align-self: center;
    text-align: center;
    align-items: center;
}

.switch-field {
  display: flex;
  align-self: center;
  margin: 1rem;
}

.switch-field input {
  position: absolute !important; /* Hides input, so label replaces */
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  
}
.game-button {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 500;
    font-size: 1em;
    padding: 0.5em 0.6em;
  box-shadow: 0 0.1em 0 0 var(--gray-tile-shadow);
  border: none;
}
.switch-field label {
  
  background-color: var(--gray-tile);
  align-items: center;
  box-shadow: 0 0.1em 0 0 var(--gray-tile-shadow);
  
  
  color: var(--gray-text-colour);
  
  align-self: center;
  text-align: center;
    
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: var(--sandstone-tile);
  color: var(--right-letter-gradient-start);
  box-shadow: 0 0.1rem 0 0 var(--sandstone-shadow);
}

.switch-field label:first-of-type {
  border-radius: 2em 0 0 2em ;
}

.switch-field label:last-of-type {
  border-radius: 0 2em 2em 0;
}

.switch-field.leaderboard_toggle {
  display: flex;
  width: 100%;
  margin: 1em 0;
  
}
.leaderboard_toggle label {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
  border-radius: 0 !important;

  padding: 0.2em 0;
  font-size: 1.1em;
}
#today_leaderboard_diff {
  font-size: 1.1em;
}

.between {
  justify-content: space-around !important;
  align-items: center;
  align-content: center;
}

#refresh_guess {
  position: absolute;
  box-sizing: border-box;
  align-self: center;
  width: max-content;
  max-width: 10rem;
  transition: 0.45s all ease-in-out, opacity 1.6s;
}
  
.share {
  cursor: pointer;
  font-size: 1.6rem !important;
}

#share_results_home {
  position: absolute;
  left: 4rem;
  top: -2.2rem;
}

.larger_text {
  font-size: 1.1em;
  font-weight: 600;
}

.bonus_icon {
  display: flex;
  height: 3em;
  margin: 0.4em;
  align-self: center;
}
.bonus_icon.small {
  height: 1.3em;
  width: 1.3em;
  margin: 0;
}
.svg{
  height: 100%;
  width: 100%;
  /* Takes container's size */
}
#left_bonus {
  border-right: dashed 0.05rem var(--almost-black);
  padding: 1rem 2.5rem 1rem 1rem;
}

.bonus_col {
  display: flex;
  flex-direction: column;

  
  
  padding: 1rem 1rem 1rem 2.5rem;
  align-items: center !important;
  row-gap: 0.5em;
}
#reward_bonuses {
  align-self: stretch;
  justify-content: center;
  align-items: flex-start;
  margin: 1em;
  margin-bottom: 0.5em;
}
.bonus_w_description {
  display: flex;
  align-items:flex-start;
  position: relative;
  
}

.help-tip{
  display: flex;
  text-align: center;
  align-self: flex-start;
  background-color: lightgray;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  cursor: default;
  align-items:center;
  justify-content: center;
  position: relative;
  right: -0.5em;
}

input ~ .help-tip {
  position: absolute;
  right: -1.3em;
  top: 0.5em;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color:var(--almost-black);
}


.help-tip:hover p{
  visibility: visible;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

} 

.help-tip p{    /* The tooltip */
  visibility: collapse;
  text-align: center;
  background-color: #1E2021;
  padding: 1em;
  position: absolute;
  top: 1em;
  border-radius: 0.8em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #FFF;
  margin-block: 0;
  z-index: 20;
  pointer-events: none;
  width: max-content;

}
.tooltipText.placeLeft {
  left: -8rem;
  right: auto;
}
.tooltipText.placeRight {
  left: auto;
  right: -8rem;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% { 
      opacity:0; 
      transform: scale(0.6);
  }

  100% {
      opacity:100%;
      transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}

.lb {
  display: flex;
  flex-direction: column;
  height: max-content;
}
#last_puzzle_leaderboard {
  margin: 0.5rem;
}
.leaderboard_tile {
  display: flex;
  height: 2.5rem;
  margin: 0.5rem;
  border: solid 2px var(--accent-shadow);
  border-radius: 3em;
  padding: 0.8em;
  background: rgb(252, 247, 239);
}
.leaderboard_tile.finisher {
  height: 2rem;
  margin: 0.2rem;
  align-content: center;
  padding: 0.4em 0.8em;
}
.username_tile {
  font-weight: 500;
  font-size: 1.15em;
  text-align: left;
}
.title_1_tile {
  font-size: 0.85em;
  margin-left: 1em;
}
.title_2_tile {
  font-size: 0.85em;
  margin-left: 1.5em;
}
.lb_vert_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lb_hor_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lb_vert_cont .bonus_icon {
  width: 1rem;
  height: 1rem;
  max-height: 1rem;
  max-width: 1rem;
  min-height: 1rem;
  min-width: 1rem;
  
}
.rank_tile {
  font-size: 2rem;
  text-align: right;
  vertical-align: center;
  align-self: center;
  justify-content: right;
  align-items: flex-end;
  width: 1.5rem;
  color: var(--gray-tile-shadow);
  direction: rtl;
}
.lb_div_1 {
  display: flex;
  width: 9rem;
  margin-left: 0.3rem;
}
.time_tile, .guess_tile {
  text-align: end;
}
.points_tile {
  display: flex;
  flex: 4 0 0;
  align-self: center;
  font-size: 1rem;
  text-align: center;
}
.finisher .points_tile {
  flex: 3 0 0;
}
.timespan .points_tile {
  font-size: inherit;
  text-align: left;
}
.lb_div_2 {
  display: flex;
  flex: 5 0 0;
  height: 80%;
  align-self: center;
}
.finisher .lb_div_2 {
  height: 100%;
}
.single .lb_div_3{
  position: relative;
  display: flex;
  flex: 1 0 0;
  justify-content: space-between;
  height: 80%;
  align-self: center;
}
.timespan .lb_div_3 {
  font-size: 0.9rem;
}
.icon_text_tile {
  display: flex;
  flex-direction: row;
}
.guess_medal {
  position: absolute;
  bottom: 0;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 0.2em solid var(--neutral-dark-text-colour);
  position: relative;
  text-align: left;
  margin-top: 2em;
  overflow-y: auto;
}



caption {
  line-height: 2em;
  font-weight: 600;

}
thead th:nth-child(1) {
  width: 8%;
}
thead th:nth-child(2) {
  width: auto;
}
thead th:nth-child(3) {
  width: 15%;
}
thead th:nth-child(4) {
  width: 7%;
}
thead th:nth-child(5) {
  width: 7%;
}
thead th:nth-child(6) {
  width: 7%;
}
thead th:nth-child(7) {
  width: 7%;
}

#daily_lb th:nth-child(1) {
  width: auto;
}
#daily_lb th:nth-child(2) {
  width: 12%
}
#daily_lb th:nth-child(3) {
  width: 8.5%
}

#today_thead th:nth-child(1) {
  width: 8%;
}
#today_thead th:nth-child(2) {
  width: auto;
}
#today_thead th:nth-child(3) {
  width: 14%;
}
#today_thead th:nth-child(4) {
  width: 10%;
}
#today_thead th:nth-child(5) {
  width: 10%;
}

#yesterday_lb_thead th:nth-child(1) {
  width: 8%;
}
#yesterday_lb_thead th:nth-child(2) {
  width: auto;
}
#yesterday_lb_thead th:nth-child(3) {
  width: 12%;
}
#yesterday_lb_thead th:nth-child(4) {
  width: 10%;
}
#yesterday_lb_thead th:nth-child(5) {
  width: 8%;
}

th, td {
  height: 1.6em;
  padding: 0.3em;
  border: 2px dashed var(--neutral-dark-text-colour);
  font-weight: 400;

  max-width: 0;
  overflow-x: clip;
}
thead th {
  text-align: left;
  border: 2px solid var(--neutral-dark-text-colour);
  background: var(--accent-blue);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
td img.bonus_icon.small, th img.bonus_icon.small {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
tbody {
  font-size: 0.8rem;
  background: var(--text-backdrop-grayblue);
}
tbody tr:nth-child(even) {
  background: var(--background-blue);
}

.lb.invisible {
  display: none;
}

table.longer {
  table-layout: auto;
  margin-top: 0;
}

#analytics_data_holder div:nth-child(even) {
  background: var(--text-backdrop-grayblue);
}

#login_modal span {
  margin: 0.25rem;
}

span.small {
  font-size: 0.85em;
}

#selected_title_holder {
  display: flex;
  flex-direction: column;
}
#selected_title_holder span{
  display: flex;
  margin: auto;
  text-align: center;
  align-self: center;
}

#achievement_holder {
  margin-top: 1em;
}
#achievements_stat {
  margin: 2em;
  margin-bottom: 1em;
  font-size: 2em;
}

.achievement {
  display: flex;
  flex-direction: column;
  border: solid 0.3em var(--accent-shadow);
  border-radius: 4em;
  margin: 1em;
  background: var(--sandstone-tile);
  transition: all ease-out 0.5s;
  cursor: pointer;
}
.achievement.selected {
  border: solid 0.3em var(--wrong-text-colour);
}
.achievement div {
  pointer-events: none;
}
.achievement.toast .achievement_title {
  font-weight: 500;
  font-size: 0.8em;
}
.achievement.toast .achievement_description {
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
}
.achievement.toast {
  
  display: flex;
  align-self: center;
  z-index: 50;
  cursor: pointer;
  position: absolute;
  transform-style: preserve-3d;
  top: 5em;
  transform: translateX(-200%);
  transform-origin: center;
  box-shadow: inset 0 0 0 0.08em var(--dark-blue-text-colour), 0 0.2em 0 0 var(--accent-text-colour) !important; 
  
  animation: slide-left-to-right 5s ease-in-out forwards;
}
.achievement.toast::after {
  content: '';
  position: absolute;
  transform: translateZ(-1px);
  top: 2.6em;
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 1);
  width: 106%;
  height: 100%;
  left: -1%;
  
  border-radius: 4em;
  background: rgba(0, 0, 0, 0.5);

  animation: slide-left-to-right-shadow 5s ease-in-out forwards;
}
@keyframes slide-left-to-right {
  0% { transform: translateX(-200%) }
  30% { transform: translateX(0%)}
  70% { transform: translateX(0%);}
  100% { transform: translateX(200%);}
}
@keyframes slide-left-to-right-shadow {
  0% { left: -18% }
  30% { left: -3%;}
  70% { left: -3%;}
  100% { left: 12%;}
}
.achievement.unseen {
  box-shadow: inset 0 0 0 0.08em var(--dark-blue-text-colour), 0 0.2em 0.3em 0 var(--accent-text-colour), 0 0.2em 0.4em 0.1em var(--accent-blue); 
  border: solid 0.22em var(--accent-blue);
  border-bottom-width: 0.1em;
}
.achievement.unseen .achievement_title{
  text-shadow: 0 0 0.1em var(--accent-blue);
}
.achievement.unseen .achievement_description{
  font-weight: 500;
}

.achievement.locked {
  border: solid 0.3em var(--gray-tile-shadow);
  background: none;
  box-shadow: none;
  cursor: auto;
}

.achievement_title {
  font-weight: 600;
  font-size: 1.15em;
  font-family: 'Rubik';
  margin-bottom: 0;
  margin-left: 2em;
  margin-top: 0.5em;
  align-self: flex-start;
}
.achievement_description {
  font-size: 0.95em;
  align-self: center;
  margin: 3em;
  margin-bottom: 1em;
  margin-top: 0.3em;
  text-align: center;
}


.loader {
  
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #11191f; /* Blue-black */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  align-self: center;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dot-carousel {
  position: relative;
  left: var(--loader-start-position);
  width: 0.35em;
  height: 0.35em;
  border-radius: 0.25em;
  background-color: var(--almost-black);
  color: var(--almost-black);
  box-shadow: calc((var(--loader-start-position) * -1) - var(--loader-distance-between)) 0 0 0 var(--almost-black), calc((var(--loader-start-position) * -1)) 0 0 0 var(--almost-black) calc((var(--loader-start-position) * -1) + var(--loader-distance-between)) 0 0 0 var(--almost-black);
  animation: dot-carousel 1.5s infinite ease-in-out;
}

@keyframes dot-carousel {
  0% {
    box-shadow: calc((var(--loader-start-position) * -1) - var(--loader-distance-between)) 0 0 -1px var(--almost-black), calc((var(--loader-start-position) * -1)) 0 0 1px var(--almost-black), calc((var(--loader-start-position) * -1) + var(--loader-distance-between)) 0 0 -1px var(--almost-black);
  }
  50% {
    box-shadow: calc((var(--loader-start-position) * -1) + var(--loader-distance-between)) 0 0 -1px var(--almost-black), calc((var(--loader-start-position) * -1) - var(--loader-distance-between)) 0 0 -1px var(--almost-black), calc((var(--loader-start-position) * -1)) 0 0 1px var(--almost-black);
  }
  100% {
    box-shadow: calc((var(--loader-start-position) * -1)) 0 0 1px var(--almost-black), calc((var(--loader-start-position) * -1) + var(--loader-distance-between)) 0 0 -1px var(--almost-black), calc((var(--loader-start-position) * -1) - var(--loader-distance-between)) 0 0 -1px var(--almost-black);
  }
}

.dot-spin {
    position: relative;
    width: 0.3em;
    height: 0.3em;
    border-radius: 0.15em;
    background-color: transparent;
    color: transparent;
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 rgba(152, 128, 255, 0);
    animation: dot-spin 1.5s infinite linear;
    margin: 1em;
  }
  
  @keyframes dot-spin {
    0%, 100% {
      box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }
    12.5% {
      box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }
    25% {
      box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }
    37.5% {
      box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }
    50% {
      box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }
    62.5% {
      box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 0 #9880ff;
    }
    75% {
      box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 0 #9880ff;
    }
    87.5% {
      box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 #9880ff;
    }
  }


.header {
    display: flex;
    position: relative;
    top:0;
    left:0;
    right:0;
  margin: 1rem 0.5rem;
  height: 2.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  font-size: 1.5rem;
  font-weight: 600;
}
.header.title {
  justify-content: space-around;
  margin-bottom: 2.5rem;
}
.header button {
    width: 2.5rem;
    height: 2.5rem;
}

.fullscreen-modal .header {
    /* Negate padding on .fullscreen-modal */

    color: var(--neutral-dark-text-colour);
    margin-top: 0; 
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: 2rem;
    box-shadow: -1rem -1rem 0 0 var(--neutral-shadow), /*Top left, topright, bottomleft, bottomright */
    1rem -1rem 0 0 var(--neutral-shadow),
    -1rem 1rem 0 0 var(--neutral-shadow),
    1rem 1rem 0 0 var(--neutral-shadow),
    0 0 0 1.2rem var(--neutral-dark-text-colour); 
    background-color: var(--neutral-shadow);
    
}

.close-fs-modal-button, #close_privacy_button {
    display: flex;
    position: absolute;
    right: 0;
    align-items: center;
    justify-content: center;
}


.horizontal-flex-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.horizontal-flex-cont.one-child {
  justify-content: center;
}

.centered {
  display: flex;
  align-items:center;
  justify-content: center;
}

.flex-box {
  display: flex;
  position: relative;
}

.wrapping-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 8em 5em;
  padding: 8em 2em;

}
.instruction:before {
  display: block;
  content: "";
  position: relative;
  border: 0.1em solid var(--almost-black);
  bottom: -0.8em;
  border-bottom: 0;
  width: 90%;
  height: 0.8em;
  margin-left: auto;
  margin-right: auto;
}
.instruction:after {
  display: block;
  content: "";
  position: relative;
  border: 0.1em solid var(--almost-black);
  top: -0.6em;
  border-top: 0;
  width: 90%;
  height: 0.8em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.instruction {
  text-align: center;
}

.stat {
  display: flex;
  position: relative;
  height: 4em;
  width: 4em;
  border-radius: 1em;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;

  border: 0.2em solid var(--lighter-border);

  box-sizing: border-box;
  outline: none !important;
}

.stats-header {
  position: absolute;
  bottom: 3em;
  width: 200%;
  text-align: center;
  font-size: 1.4em;
  line-height: 1em;
}

.stats-value {
  font-size: 3.6em;
  color: teal;

  text-shadow: 
    var(--stroke-width) 0 0 var(--stroke-color),
        calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
        0 var(--stroke-width) 0 var(--stroke-color),
        0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
        text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
        var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
        var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
        var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
        var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
        var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
        var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
        var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
        var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
        var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
        var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
        var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
        var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
        var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
        var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
        var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
        var(--stroke-color);
}

.vertical-flex-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.square {
    aspect-ratio: 1/1;
}
.neutralbutton {
  background-color: var(--neutral-sand-colour);
  color: var(--neutral-text-colour) !important;
  border-radius: 0.3em;
  box-shadow: 0 0.1rem 0 0 var(--neutral-shadow);
  border: none;
}
.flex-item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-block: 0;
    padding-inline: 0;
}
.flex-item div:has(img) {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.has-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}
  
div img {
    max-width: 80%;
    min-width: 80%;
    max-height: 80%;
    min-height: 80%;
}

.mock {
  width: 14%;
  margin: 0.5em;
  border-radius: 0.2em;
}
.horizontal-flex-cont.desc {
  font-size: 1.3em;
  justify-content: flex-start;
}
.horizontal-flex-cont.desc span{
  width: 86%;
}

.formodal .button {
  width: fit-content;
  height: fit-content;
}

.invisible {
  visibility: hidden;
}
.removed {
  display:none;
}
.minimal {
  background-color: transparent !important;
  border: 0 !important;
}
.reset {
  display: flex;
  height: 2rem;
  transition: all 0.45s ease-in-out, opacity 1.6s;

}
.highlight {
  background-color: gold !important;
}
.expand-triangle {
  position: absolute;
  top: 0.6rem;
  right: -0.45rem;
  margin: 0.15rem;
  height: 0.8rem;
  width: 1.3rem;
  border: none;
  /*margin-top: calc(0.6rem + var(--letterBoxMargin));*/
  background: none;
  transform-origin: top center;
  transform: rotate(180deg);
  transition: 1.2s ease-in-out all;
}
.expand-triangle.opened {
  transform: rotate(0);
}

.banner-text {
  border-right: 0.2rem solid var(--gray-text-colour);
    border-left: 0.2rem solid var(--gray-text-colour);
    background-color: var(--text-backdrop-grayblue);
    color: var(--dark-blue-text-colour);
}
.banner {
  
  position: absolute;
  display: flex;
    width: 19rem;
    height: 2.5rem;
    border-right: 0.2rem solid var(--gray-text-colour);
    border-left: 0.2rem solid var(--gray-text-colour);
    background-color: var(--text-backdrop-grayblue);
    color: var(--dark-blue-text-colour);
    font-weight: 400;
    padding: 0.3rem 0.5rem;
    /* margin-bottom: calc(-2.5rem + 1rem + 0.2rem);  -2.5 + 1 + 0.2 
    margin-top: 0rem; */
    top: 0.2rem;

    justify-content: center;
    
    transition: all 1.2s ease-in-out;
    transform-origin: top;
    transform-box: border-box;

    transform: translateY(calc(-100%)); /* 100% = height + 0.3 padding */

    /* space bottom: this margin + letterboxmargin 
      space top: this margin + 1rem
    */
}
.banner.good {
  background: rgba(57, 134, 33, 0.3);
}
.banner.bad {
  background: rgba(156, 28, 28, 0.3);
}
.banner.opened {
  transform: translateY(0);
  /* margin-bottom: calc(1rem + 0.3rem); */
}
#banner_holder {
  overflow: hidden;
  display: flex;
  align-self: center;
  position: relative;
  height: 0.2rem;
  width: calc(19rem + 1.4rem); /* so banner's right border isn't cut off */
  margin-top: var(--letterBoxMargin); /* *2 to offset the fact that the margin  */
  margin-bottom: calc(1rem - var(--letterBoxMargin));
  transition: all 1.2s ease-in-out;
}
#banner_holder.opened {
  /* margin-bottom: calc(-2 * var(--letterBoxMargin) + (2.5rem + 0.3rem - 0.2rem));*/
  height: calc(2.5rem + 0.6rem + 0.2rem);
}

#message-banner {
  text-align: center;
  font-size: 0.8em;
}

#gameBox_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  top: 0; /* Needed for transition to have a starting point*/
  position: relative;
  
  transition: all 1s cubic-bezier(0.17, 0.04, 0.03, 0.94); 
}
#gameBox_wrapper.slide_down {
    /* banner originally sits below gamebox padding. banner has been raised the padding 
    so gamebox wrapper needs to also raise by that much, since 'top' is where banner would have originally sat */
    top: calc(3.5em); /* - 1rem */  
  margin-bottom: calc(3.5em); /* - 1rem */  
}

#next_game {
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
.banner span {
  font-weight: 500;
}
.letterBox div {
  color: inherit;
  transition: all 0.8s ease-in-out; 

  background: linear-gradient(180deg, hsl(119, 61%, 18%) 0%, hsl(119, 61%, 29%) 30%, hsl(119, 76%, 37%) 75%); 
    background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;
}
.wordRow.correct .letterBox div{
    /*box-shadow: var(--rightglow)*/
    
    color: rgba(365, 365, 365, 0);

    background: linear-gradient(180deg, hsl(119, 61%, 18%) 0%, hsl(119, 61%, 29%) 30%, hsl(119, 76%, 37%) 75%); 
    background-clip: text;
-webkit-background-clip: text;
-moz-background-clip: text;


}
.rowHolder.finished .wordRow .letterBox.finished {
  box-sizing: border-box;
  pointer-events: None;
  -webkit-animation:  6s ease-in-out 1s infinite colorchange;
  animation:  6s ease-in-out 1s infinite colorchange;
  transition: box-shadow ease-in 0.5s;
  box-shadow: 0px 0px 0.3em 0 hsl(119, 61%, 29%);

}

@keyframes colorchange {
  0% {
    box-shadow: 0px 0px 0.3em 0 hsl(119, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(119, 61%, 29%);
    -webkit-transform: scale(100%);
    transform: scale(100%);
  }

  1% {
    box-shadow: 0px 0px 0.3em 0 hsl(149, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(149, 61%, 29%);
    -webkit-transform: scale(100%);
    transform: scale(100%);
  }

  2% {
    box-shadow: 0px 0px 0.3em 0 hsl(179, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(179, 61%, 29%);
    transform: scale(101%);
    -webkit-transform: scale(101%);
  }

  3% {
    box-shadow: 0px 0px 0.3em 0 hsl(209, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(209, 61%, 29%);
    transform: scale(102%);
    -webkit-transform: scale(102%);
  }

  4% {
    box-shadow: 0px 0px 0.3em 0 hsl(239, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(239, 61%, 29%);
    transform: scale(103%);
    -webkit-transform: scale(103%);
  }

  5% {
    box-shadow: 0px 0px 0.3em 0 hsl(269, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(269, 61%, 29%);
    transform: scale(104%);
    -webkit-transform: scale(104%);
  }

  6% {
    box-shadow: 0px 0px 0.3em 0 hsl(299, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(299, 61%, 29%);
    transform: scale(106%);
    -webkit-transform: scale(106%);
  }

  7% {
    box-shadow: 0px 0px 0.3em 0 hsl(329, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(329, 61%, 29%);
    transform: scale(108%);
    -webkit-transform: scale(108%);
  }

  8% {
    box-shadow: 0px 0px 0.3em 0 hsl(359, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(359, 61%, 29%);
    transform: scale(106%);
    -webkit-transform: scale(106%);
  }

  9% {
    box-shadow: 0px 0px 0.3em 0 hsl(29, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(29, 61%, 29%);
    transform: scale(104%);
    -webkit-transform: scale(104%);
  }

  10% {
    box-shadow: 0px 0px 0.3em 0 hsl(59, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(59, 61%, 29%);
    transform: scale(103%);
    -webkit-transform: scale(103%);
  }

  11% {
    box-shadow: 0px 0px 0.3em 0 hsl(89, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(89, 61%, 29%);
    transform: scale(102%);
    -webkit-transform: scale(102%);
  }

  12% {
    box-shadow: 0px 0px 0.3em 0 hsl(119, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(119, 61%, 29%);
    transform: scale(101%);
    -webkit-transform: scale(101%);
  }
  13%, 100%{
    box-shadow: 0px 0px 0.3em 0 hsl(119, 61%, 29%);
    -webkit-box-shadow: 0px 0px 0.3em 0 hsl(119, 61%, 29%);
    transform: scale(100%);
    -webkit-transform: scale(100%);
  }
} 
.wordRow.wrong .letterBox div {
    color: var(--wrong-text-colour);
}

.rowHolder.finished + button,.rowHolder.finished .reset, #refresh_guess.finished{
  pointer-events: None;
}

.letterInput:focus {
    
    box-shadow: 0 0 0.02em 0.03em rgba(0, 0, 0, 0.1),
    0 0 0.25em 0.02em rgba(255, 181, 43, 1);
}


/*
.missing {
    box-shadow: 0px 0px 24.192px rgb(247, 107, 26), 
    0px 0px 13.824px rgb(247, 107, 26), 
    0px 0px 8.064px rgb(247, 107, 26), 
    0px 0px 4.032px rgb(247, 107, 26), 
    0px 0px 1.152px rgb(247, 107, 26), 
    0px 0px 0.576px rgb(247, 107, 26) !important;
    border: 2px solid black !important;
}
.missing:focus {
    box-shadow: 0px 0px 24.192px violet, 
    0px 0px 13.824px violet, 
    0px 0px 8.064px violet, 
    0px 0px 4.032px violet, 
    0px 0px 1.152px violet, 
    0px 0px 0.576px violet !important;
    color: violet;
} */


.rowHolder {
    font-size: var(--rowHolder-font-size);
    height: max-content;
    display: flex;
    align-items: stretch;
    align-self: stretch;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
  }

.wordRow {
  border: 2px solid transparent;
  max-height: 5rem;
  justify-content: center;
  margin-bottom: calc(var(--letterBoxMargin)*1.5);
}

.letterBox {
  font-family: 'Baloo Chettan 2';
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  position: relative;
  
  background-color: var(--gray-tile);
  margin: var(--letterBoxMargin);
  border-bottom: 0.06em solid var(--gray-tile-shadow);
  color: var(--gray-text-colour);
  
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  box-sizing: border-box;
  outline: none !important;
  text-transform: uppercase;
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  max-width: 5rem;
  transition: box-shadow 0.4s ease-in;
  animation: 0.45s ease-out forwards bounceIn;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(calc(var(--letterBoxMargin) * 3.5));
  }
  60% {
    opacity: 0.6;
    transform: translateY(calc(-0.5 * var(--letterBoxMargin)));
  }
  80% {
    opacity: 1;
    transform: translateY(calc(var(--letterBoxMargin) * 0.25));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.letterBox.removing {
  animation: 0.45s ease-in forwards slideOut !important;
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
    
  }
  20% {
    opacity: 1;
    transform: translateY(calc(-0.75 * var(--letterBoxMargin)));
  }
  100% {
    opacity: 0;
    transform: translateY(calc(var(--letterBoxMargin) * 3.5));
  }
}
.letterBox div {
  font-size: 1.35em;
}
.letterBox.waiting, #refresh_guess.waiting{
  opacity: 0;
  pointer-events: none;
  /*transform: translateY(calc(var(--letterBoxMargin) * 3.5));*/
  animation: none;
}
.reset.waiting {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(var(--letterBoxMargin) * 1.5));
}
.letterBox.loading:before, .letterBox.loading:after,  .letterBox.waiting:before, .letterBox.waiting:after{
  opacity: 0;
}
.letterBox.removing:before, .letterBox.removing:after {
  display: none;
}

#answerBtn.waiting {
  position: absolute;
  top: 2.5em;
}


.rowHolder.ex{
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    
}
.letterBox.ex {
    font-size: 1.8rem;
    margin: calc(var(--emLetterBoxMargin) * 0.8);
}

#last_puzzle_solution .letterBox.ex {
  font-size: 1.4rem;
}
#last_puzzle_solution .wordRow {
  margin-bottom: calc(var(--letterBoxMargin)*0.8)
}

.letterInput.ex {
  --letterInput-border-radius: 0.5em;
}



/* FINISHED PUZZLE SHEEN */
.rowHolder.finished .letterBox:before, .rowHolder.finished .letterBox:after {
  transform: scaleX(0)
}
.rowHolder.finished:before {
  content: '';
  position: absolute;
  z-index: 2;
  height: 200%;
  width: 0.5em;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotate(45deg);
  transform-origin: top right;
  transform: translateY(-50%);
  animation: sheen 6s ease-out 1s infinite;
}
@keyframes sheen {
  
    0% {transform: translateY(-50%) rotate(45deg) }
    35%, 100%{transform: translateY(100%) rotate(45deg)}

  }

.letterBox.letterInput:before, .letterBox.letterInput:after{
  border-radius: calc(0.5em - 0.09em);
}
.letterBox:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 50%;
    height: 9%;
    background: var(--accent-blue);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  
  /* sides, top, bottom, radius, etc need to be calculated based on border size */
  bottom: 100%;
  left: -0px;
  right: -0px;
  margin-left: auto;
  margin-right: auto;

  opacity: 0; /* Keep hidden until showing */

  transform: translateY(100%);
  /* transition: all ease-in 0.3s; */
  transition: all ease-in-out 1s !important;
}
.letterBox:after {
  transform: translateY(-100%);
  /* transition: all ease-in 0.3s; */
  transition: all ease-in-out 1s !important;
  z-index: -1;
  content: "";
    position: absolute;
    
    width: 50%;
    height: 9%;
    background: var(--accent-blue);
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);

    opacity: 0; /* Keep hidden until showing */
  
    /* sides, top, bottom, radius, etc need to be calculated based on border size */
    top: calc(100% + 0.1rem);
    left: -0px;
    right: -0px;
    margin-left: auto;
    margin-right: auto;

}
.letterBox.letterRemoved:after {
  opacity: 1;
  transform: translateY(0)
}
.letterBox.letterAdded:before {
  opacity: 1;
  transform: translateY(0)
}

.letterBox.afterbad:after, .letterBox.beforebad:before {
  background: var(--wrong-letter-accent);
}

.letterInput{
  position: relative;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 0 0.04em 0 var(--sandstone-shadow);
  border-bottom: 0.06em solid var(--sandstone-shadow);
  background-color: var(--sandstone-tile);


  cursor: pointer;
  text-align: center;
  caret-color: transparent;
  text-transform: uppercase;
}


#keyboard-cont {
    
    padding: 0.2rem;
    height: 11rem;
    width: 23.5rem;
    border-radius: 0.7rem;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    justify-self: center;
    flex-direction: column;
    align-items: center;
    row-gap: 0.05em;
    background-color:var(--neutral-dark-text-colour);
    color: var(--neutral-dark-text-colour);
    z-index: 5;
  }

#howToModal, #howToSixes {
  padding-bottom: 12rem; /* Same as keyboard height */
}


  
  #keyboard-cont div {
    display: flex;
    flex: 1 1 0;
    column-gap: 0.05em;
    font-family: 'Baloo Chattan 2';
    
  }
  
  .keyboard-button {
    flex: 2 2 auto;
    width: 2.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: 0.08em solid var(--almost-black);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }
  .keyboard-button.square {
    width: 3.45rem;
    flex: 3 3 auto;
  }

.modal-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


.popup-modal.toast {
  background-color: rgba(188, 188, 188, 0.9);
  z-index: 50;
  padding: 1rem;
  font-size: 1em;
  font-weight: 600;
  top: 5.5rem;
  transition: all 1.4s ease-in-out;
  transform: translateY(-15rem); /* top is 7rem */
}
.toast.error {
  background-color: rgba(255, 188, 188, 0.9);
}



.popup-modal { /* Can't get to have space between bottom and edge of screen when long */
    font-size: 0.8rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;
    width: 18rem;
    box-shadow: 0 3em 0.6em 0.7em rgba(0, 0, 0, 0.6);

  border: 0.1rem solid var(--almost-black);
  position: absolute;
  padding: 1.8rem;
  z-index: 10;
  background-color: var(--background-blue);

  top: 7rem;
  border-radius: 2rem;
  transform: translateY(100vh);

  visibility: collapse;
  transition: all 1.4s ease-in-out;
}
.fromtop {
  transform: translateY(-100vh);
}

.popup-modal.higher {
  z-index: 20;
}

.popup-modal .close-fs-modal-button {
  top: -0.5rem;
  right: -0.5rem;
}

.popup-modal .header {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.popup-modal.opened {
    top: 7rem;
    transform: translateY(0%) !important;
    visibility: visible;
    display: flex;
}

.overlay{
  display: block;
  position: absolute;
  z-index: 9;
  pointer-events: all;
  background-color:rgba(0,0,0,0.1);
  border: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  right: 0;
  bottom: -10%;

  transition: 0.5s all ease-in;
}
.overlay.closed {
  opacity: 0;
  pointer-events: none;
}

.overlay.higher {
  z-index: 16
}

.accentButton {
  font-family: 'Baloo Chettan 2';
  font-size: 1.6em;
  color: var(--accent-text-colour) !important;  
  font-weight: 600;
  line-height: 1em;
  padding: 0.23em 0.7em;
  border-radius: 0.3em;
  box-shadow: var(--accent-shadow) 0px 0.16em 0px 0px;
  text-transform: uppercase;
  background-color: var(--accent-blue);
  margin: 0.5em;
  border: none;
  cursor: pointer;

  transform-origin: center;
  transition: 0.1s ease-in-out all;
}
.input_button.accentButton {
  margin: inherit;
}

.vertical-flex-cont.ex {
  align-items: center;
}

.ex .answerButton {
  font-size: 1.7em;
  width: 4.5em;

}
#answerBtn {
  position: absolute;
  top: 0;
  margin-bottom: 1.5rem;
  width: 4.2em;
  transition: 0.6s all ease-in-out, color 0.6s;
}
#answerBtn.spin_left {
  animation: rotate_left 2s ease-in-out forwards;
}
#answerBtn.spin_right {
  animation: rotate_right 2s ease-in-out forwards;
}
@keyframes rotate_left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate_right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#answerBtn.changing {
  color: var(--accent-blue) !important;
  pointer-events: none;
}
.button.answerButton:active {
  box-shadow: none;
  transform: translateY(0.16em);
}
#answerBtn.finished {
  pointer-events: none;
}
.textinput {
  height: 1.2em;
  margin-bottom: 0;
  text-align: center;
  border-width: 0px;
  padding: 0.25em 0.7em;
  background-color: #DCDCDC;

  display: flex;
  align-self: stretch;
  flex: 1 0 0;
}
textarea {
  display: flex;
  font: inherit;
  font-size: 1rem;
}
#contact_message {
  height: 10em;
  resize: none;
  text-align: left;
  flex: none;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
#contact_form {
  margin-bottom: 1rem;
}
#return_email {
  text-align: left;
}
.dict_row {
  font-size: 2.5em;
  margin: 0.4em;
  transform-origin: top;
  transition: 0.3s all ease-in-out
}
.collapsed {
  transform: scaleY(0%);
  margin-bottom: -4em;
}
.accept_button {
  display: flex;
  width: 3em;
  height: 3em;
  background-color: var(--correct-color);
  border: 0.05em solid var(--almost-black);
  border-radius: 0.2em;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.reject_button {
  display: flex;
  width: 3em;
  height: 3em;
  background-color: var(--wrong-color);
  border: 0.05em solid var(--almost-black);
  border-radius: 0.2em;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.wordbox {
  display: flex;
  font-size: 4em;
  justify-content: center;
  align-items: center;
  height: 1em;
  transition: 0.3s all ease-in-out;
  margin: 1em;
  
}


@media (min-aspect-ratio: 8/9) { /* Wider screens */
  :root {
      font-size: 1.6vw !important;
      --game-left: 30%; /* 100 - width / 2 */
      --game-right: 30%;
  }
  #containall {
  width: 40%;
  }
  #keyboard-cont {
      display: none;
  }
}
