@import url(//fonts.googleapis.com/css?family=Nunito);

html * {
  font-family: Nunito;
}
body {
  font-size: calc(15px + 0.390625vw);
  
  font-size: clamp(1.5rem, 1vw + 1.25rem, 2.5rem);
}
button {
  border-radius: 0.5rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  outline: 0;
}

#containall {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
.header.formodal {
  justify-content: space-between;
}
.button.square {
  width: min(6vw, 72px);
  height: min(6vw, 72px);
  font-size: min(4vw, 36px);
  font-weight: bold;
  padding: 0px;
  line-height: 0;
}
.invisible {
  visibility: hidden;
}
.minimal {
  background-color: transparent !important;
  border: 0 !important;
}
.highlight {
  background-color: gold !important;
}
.correct {
  background-color: green;
}
.wrong {
  background-color: orange ;
}
.missing {
  background-color: orange !important;
}
.wordRow{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.letterBox{
  background-color: white;
  border: 0.5px solid black;
  box-sizing: border-box;
  outline: none !important;
  font-size: min(4vw, 64px);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.letterBox.ex {
    width: 12.75vw;
    max-width: 75px;
    height: 12.75vw;
    max-height: 75px;
    margin: min(12px, 2.4vw)
}
.letterInput{
  cursor: pointer;
  box-shadow: 0px 3px 1px 0px #D4D4D4;
  text-align: center;
  caret-color: transparent;
  text-transform: uppercase;
}
.letterInput:focus{
  border-color: gold;
}
.letterInput:focus::placeholder {
  color: transparent;
}



#keyboard-cont {
    margin: max(1vw, 8px) 0;
    padding: 0.75vw;
    border-radius: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    background-color:rgba(80, 80, 80);
  }
  @media screen and ((max-device-pixel-ratio: 2) or (-webkit-max-device-pixel-ratio: 2) 
  or (-moz-max-device-pixel-ratio: 2) ){
    #keyboard-cont {
        display: none;
    }
  }
  
  #keyboard-cont div {
    display: flex;
  }
  .first-row {
    display: flex;
  }
  .third-row {
    display: flex;
  }
  .second-row {
    display: flex;
    margin: max(0.5vw, 6px) 0;
  }
  
  .keyboard-button {
    font-size: min(12vw, 52px);
    font-weight: 700;
    padding: min(0.5vw, 6px);
    margin: min(0.3vw, 4px);
    cursor: pointer;
    text-transform: uppercase;
  }
.keyboardbuffer {
    height: min(25vw, 220px);
}

.modal {
  border: 1px solid black;
  display: none;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background-color: white;
  width: min(100%, 800px);
  max-height: 100%;
  top: 0;
  overflow: auto;
  position: fixed;
}
.modal.open {
  display:block
}
.container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.modaloverlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 5;
  position: fixed;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.modaloverlay.open {
  display: block;
  pointer-events: all;
}
.gameBox {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 4vmin;
  align-items: center;
  border: 2px solid black;
  border-radius: 1vw;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  
}
.rowHolder {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.button.answerButton {
  font-size: 1.5rem;
  box-shadow: rgb(122, 4, 4) 0px 3px 2px 0px;
  text-transform: capitalize;
  background-color: rgb(236, 22, 22);
  margin: 2vmin;
}
.button.answerButton:active {
  background-color: #7a0404;
}
.guessResponse {
  width: 60vw;
  max-width: 450px;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  min-height: 4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.emailform {
  width: 20rem;
  height: 8rem;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.textinput {
  width: 20rem;
  height: 1.5rem;
  font-size: 1rem;
  align-self: center;
  text-align: center;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
}
.emailbutton {
  color: rgb(0, 0, 0);
  width: 12rem;
  height: 4rem;
  font-size: 1rem;
  display: flex;
  padding: 0.5rem;
  align-self: center;
  box-shadow: 0px 3px 2px 0px rgba(4, 56, 12, 0.75);
  font-style: normal;
  text-align: center;
  align-items: center;
  font-weight: 600;
  line-height: 1.25rem;
  border-width: 0px;
  border-radius: 4px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(28, 175, 60, 0.85);
}
.emailbuttontext {
  align-self: center;
  line-height: 1.25em;
}
